/* Styling goes in this file */

body {
	font-family: "Arial";
}

.centered {
	text-align: center;
}

 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .left-column {
    width: 50%;
  }
  
  .right-column {
    width: 50%;
  }
  
  .image {
    width: 100%;
  }

.button {
	height: 50px;
	width: 200px;
	font-size: 20px;
}

.Acknowledgements {
    text-align: center;
    font-size: 24px;
}

.sources {
	text-align: left;
	font-size: 18px;
}